<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">May Sit Hman Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I want to be a professional Mobile and Web Developer. I've one year experience at BizLeap Technology
               Co.,Ltd by junior java developer position on part-time. And I joined to Lae Lar Technology
                Co.,Ltd by Internship (Python). I have an associate's degree in Mobile and Web Developer.
                I am proficient at building and maintaining professional relationships.
                I want to manage and maintain client relations with large and multi-companies.
                I love most about that writing the code. I passed my bachelor degree with credit.
                I am one of the master candidates of UCSY.I am seeking to bring fast, intelligent
                solutions to the position of Mobile and Web Developer.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
